<section id="about" class="about sect-pt4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 box-shadow-full p-5">
          <div class="col-md-12">
            <h3 class="about-title position-relative mb-5">Tentang Kami</h3>
            <p>
              Berangkat dari kecintaan Fikri Herdian terhadap pasar modal, Agustus 2022 didirikanlah NewsAsix sebagai sebuah komunitas saham. Berdirinya NewsAsix begitu ditanggapi baik oleh berbagai kalangan di Indonesia, sehingga seiring dengan perkembangan yang begitu pesat dan signifikan, di awal tahun 2022 NewsAsix by Enigma Sekuritas bertransformasi menjadi sebuah platform “berita Saham” pertama di Indonesia
            </p>
            <p>
              NewsAsix by Enigma Sekuritas mengajak seluruh Rakyat Indonesia untuk mulai “ membaca berita Saham” dengan berbagai kemudahan yang ditawarkan. Sudah saatnya seluruh Rakyat Indonesia terbuka terhadap Investasi Saham.
            </p>
            <p>
              PT Enigma Sekuritas Indonesia telah berdiri sejak tahun 1992. Dengan lebih dari 30 tahun pengalaman di Pasar Modal Indonesia, Enigma Sekuritas merupakan partner Warga Cuan yang terpercaya, resmi dan berizin OJK
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
