
.about {
  background-color: #1a1c20;

}

.about .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-title {
  text-align: center;
  font-size: 4rem;
  color: #ffff;
}

.about-title::before {
  content: "";
  position: absolute;
  height: 6px;
  background-color: #ffbf00;
  width: 400px;
  bottom: -17px;
}

.about p {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffffbf;
}



.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: rgb(8, 8, 8);
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}
