$primary-color:#ffbf00;
$bg-color : #1a1c20;
$box-color : rgb(8, 8, 8);
$text-color: #ffffffbf;


.service {
  padding-bottom: 4rem;
  background-color: #1a1c20;
}

.service h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffff;
}

.service p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  color: $text-color;
}

.service-card {
  background-color: rgb(8, 8, 8);
  border-style: none;
  border-radius: 1rem;
  padding: 2.5rem 1.3rem;
  margin-top: 3rem;
  text-align: center;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.service-box .service-ico {
  margin-bottom: 1rem;
}

.service-ico .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.service-ico:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #ffbf00;
  box-shadow: 0 0 0 10px gold;
}

.service-ico .ico-circle i {
  font-size: 40px;
  line-height: 0;
}

.service-content h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
