<section id="portofolio" class="portofolio">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="portofolio-title">
          <h1>HOT NEWS</h1>
          <p>Berita Saham Hari Ini</p>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a routerLink="/artikel1"><img src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/c23f40fd-7708-46f7-91a9-c6db290661ce/saham+agriculture.png?format=1000w" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>24 Daftar Saham Agriculture Di Bursa Efek Indonesia</h5>
            <p>Saham agriculture yang paling dikenal di kalangan investor adalah AALI, LSIP, SIMP, SMAR dan SSMS. Ternyata di Bursa Efek Indonesia sendiri terdapat 24 emiten yang bergerak di bidang perkebunan dan pertanianl.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a routerLink="/artikel2"><img src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/ihsg-akhir-tahun-ditutup-melemah_20201230_181337.jpg" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Hari Terakhir 2021 IHSG Turun 0,29 Persen, Tapi Sepanjang Tahun Ini Naik 10,08 Persen</h5>
            <p>Indek Harga Saham Gabungan (IHSG) ditutup terperosok 0,29% atau 19,19 poin ke 6.581,48 hingga akhir perdagangan di Bursa Efek Indonesia (BEI).</p>
          </div>
        </div>
        <div class="carousel-item">
          <a routerLink="/artikel3"><img src="https://awsimages.detik.net.id/visual/2022/07/15/ilustrasi-bursa-cnbc-indonesiaandrean-kristianto-3_169.jpeg?w=715&q=90" class="d-block w-100" alt="..."></a>
          <div class="carousel-caption d-none d-md-block">
            <h5>Wait and See Kenaikan Pertalite, IHSG Masih Sulit Bangkit
            </h5>
            <p>Indeks Harga Saham Gabungan (IHSG) melemah 0,8% ke 7.102,019 pada perdagangan sesi I Rabu (31/8/2022). Tekanan datang dari luar dan dalam negeri yang membuat IHSG merosot.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
