<section id="todos" class="todos sect-pt4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Hari Terakhir 2021 IHSG Turun 0,29 Persen, Tapi Sepanjang Tahun Ini Naik 10,08 Persen</h1>
          <p>August 9, 2022</p>
          <img src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/ihsg-akhir-tahun-ditutup-melemah_20201230_181337.jpg" class="img-fluid" alt="berita">
          
          <br>
          <br>
          <p>Jakarta, CNBC Indonesia - Indeks Harga Saham Gabungan (IHSG) melemah 0,8% ke 7.102,019 pada perdagangan sesi I Rabu (31/8/2022). Tekanan datang dari luar dan dalam negeri yang membuat IHSG merosot.</p>
  
          <p>Dari luar negeri, bursa saham AS (Wall Street) yang jeblok 3 hari beruntun memberikan sentimen negatif ke IHSG. Wall Street jeblok akibat bank sentral di berbagai negara diperkirakan masih akan agresif menaikkan suku bunga, yang bisa membawa perekonomian dunia ke jurang resesi.</p>
            
          <p>Sementara itu dari dalam negeri, pelaku pasar menanti pengumuman kenaikan harga bahan bakar minyak (BBM) subsidi jenis Pertalite dan Solar.</p>
            
            
          <p>Informasi yang diterima oleh CNBC Indonesia, kenaikan harga BBM Pertalite dan Solar Subsidi ini akan diumumkan pada hari ini, dan harga baru kedua BBM tersebut akan berlaku pada 1 September 2022 ini.</p>
            
        <p>"Pada hari Senin (29/8/2022) akan ada rapat lanjutan mengenai tindak lanjut rapat-rapat sebelumnya," ungkap sumber tersebut kepada CNBC Indonesia, Sabtu (27/8/2022).</p>
            
        <p>Meski demikian, hingga siang ini belum ada pengumuman dari pemerintah yang membuat pasar wait and see. Hal ini tentunya tidak menguntungkan bagi IHSG.</p>
            
          <P>Baca: Detik-Detik Harga Pertalite Naik!
          Secara teknikal, level 7.200 masih menjadi resisten kuat yang menahan penguatan IHSG. Kemarin, IHSG menyentuh level tersebut kemudian penguatan terpangkas. Bahkan pada perdagangan sesi I hari ini langsung jeblok.</P>
            
          <p>Jika dilihat dari grafik harian sejak mencetak rekor tertinggi sepanjang masa di level 7.355 pada 11 April lalu, IHSG mengalami pasang surut. Dua kali jeblok, dua kali juga sukses bangkit. Meski demikian, kenaikan IHSG dalam 2 kali tersebut membentuk higher low atau level tinggi yang lebih rendah dari sebelumnya.</p>
        </div>
        
      </div>
    </div>
  </section>
  